.footer {
  margin-top: auto;
  text-align: right;
  border-top: 1px solid var(--typo);
  padding: 10px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
