.header {
  padding: 10px 0;

  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo img {
  display: block;
  height: 30px;
  width: auto;

  @media (min-width: 1024px) {
    height: 35px;
  }
}
