/* Example for local fonts */

/*
@font-face {
  font-display: swap;
  font-family: "Halcom";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Halcom-Regular.woff2") format("woff2"), url("../fonts/Halcom-Regular.woff") format("woff");
}
*/
