html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

[aria-current="page"] {
  text-decoration: underline;
}
