.grid {
  --columns: 12;
  --gutter: 1.5rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;

  margin-top: calc(var(--gutter) * 0.5);
  margin-bottom: calc(var(--gutter) * 0.5);

  @media (min-width: 1024px) {
    --gutter: 3rem;
    margin-bottom: 0;
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid > .column {
  margin-bottom: 0;

  @media (min-width: 1024px) {
    margin-bottom: calc(var(--gutter) * 0.5);
    grid-column: span var(--columns);
  }
}
