html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header,
.footer {
  padding: 10px 20px;
  background-color: var(--background);

  a {
    text-decoration: none;
  }
}
