html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.header,
.footer {
  padding: 10px;
  background-color: #f6f6f6;

  a {
    text-decoration: none;
  }
}
